{% extends 'profile_base.html' %}

{% block settings_content %}
    {% for info in profile_info %}
        <div class="contentContainer">
            <div id="detail-container" class="tab-container">
                <div class="tab-detail">
                    <i id="tab-icon" class="fa-solid fa-lock" style="font-size: 40px;"></i>
                    <h3 class="tab-header">Change Password</h3>
                </div>
                <span class="tab-info">Feel free to update your password, must be different from previous password.<span>
            </div>
            <div class="form-container">
                <form id="profileForm" action="{% url 'update_password' profile_id=info.user.id %}" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if "password" in message.tags %}
                                <p class="detail-success">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if errors.currentPassword %}
                        <p class="error">{{ errors.currentPassword }}</p>
                    {% endif %}
                    <span class="graytext">Current Password</span>
                    <div class="input-container">
                        <i class="fa-solid fa-lock" id="form-icon" style="color: #e6e6e6;"></i>
                        <input class="form-control" name="current_password" type="password" placeholder="enter current password" value="{{request.POST.current_password|default:''}}">
                    </div>
                    {% if errors.newPassword %}
                        <p class="error">{{ errors.newPassword }}</p>
                    {% endif %}
                    <span class="graytext">New Password</span>
                    <div class="input-container">
                        <i class="fa-solid fa-lock" id="form-icon" style="color: #e6e6e6;"></i>
                        <input class="form-control" name="new_password" type="password" placeholder="enter new password" value="{{request.POST.new_password|default:''}}">
                    </div>
                    <div class="right-align">
                        <button class="form-button" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}