{% extends 'profile_base.html' %}

{% block settings_content %}
<h3 class="tab-header">Change Password</h3>
    {% for info in profile_info %}
        {% if messages %}
            {% for message in messages %}
                {% if "password" in message.tags %}
                    <li class="message">{{ message }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form id="passwordForm" action="{% url 'update_password' profile_id=info.user.id %}" method="post">
            {% csrf_token %}
            {% if errors.currentPassword %}
                <p class="errorCurrent">{{ errors.currentPassword }}</p>
            {% endif %}
            <input class="form-control" name="current_password" type="password" placeholder="enter current password" value="{{request.POST.current_password|default:''}}">
            {% if errors.newPassword %}
                <p class="errorNew">{{ errors.newPassword }}</p>
            {% endif %}
            <input class="form-control" name="new_password" type="password" placeholder="enter new password" value="{{request.POST.new_password|default:''}}">
            <button id="passwordButton" type="submit">Submit</button>
        </form>
    {% endfor %}
{% endblock %}