{% extends 'profile_base.html' %}
{% block settings_content %}
    <div class="contentContainer">
        <div id="detail-container" class="tab-container">
            <div class="tab-detail">
                <i id="tab-icon" class="fa-solid fa-shirt" style="font-size: 40px;"></i>
                <h3 class="tab-header">My Clothes</h3>
            </div>
        </div>
        <div id="paddedRow" class="row justify-content-center">
            {% for product in profile_products %}
                <div class="col-4">
                    <div class="image-box">
                        {% if product.created_by %}
                            <img class="product_image" src="{{product.image.url}}">
                        {% else %}
                            <img class="product_image" src="{{product.image }}">
                        {% endif %}
                    </div>
                    <div class="name_box">
                        <p><a class="product_name" href="{% url 'product' product_id=product.id %}">{{ product.name }}</a></p>
                        <p id="product_price">$ {{  product.price }}</p>
                    </div>
                </div>
            {% empty %}
                <div class="empty-message">
                    <p>You have no clothes yet to display</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}