{% extends 'profile_base.html' %}

{% block settings_content %}
    <div class="contentContainer">
        <h3 class="tab-header">My Orders</h3>
        {% for order in orders %}
            {% for cart_item in order.cart_item.all %}
            <div class="product-image-row">
                <div class="image-box">
                    {% if cart_item.product.created_by %}
                        <img class="product_image" src="{{ cart_item.product.image.url }}">
                    {% else %}
                        <img class="product_image" src="{{ cart_item.product.image }}">
                    {% endif %}
                </div>
                <!--Format order page and style product row and make responsive-->
            </div>
            {% endfor %}
            <i class="fa-solid fa-box" style="color: #e6e6e6;"></i>
            <small class="graytext">Order number: {{ order.id }}</small>
            <i class="fa-solid fa-calendar" style="color: #e6e6e6;"></i>
            <small class="graytext">Order date: {{ order.purchase_date }}</small>
            <form action="{% url 'order_details' order_id=order.id %}" method="post">
                {% csrf_token %}
                <button class="form-button" type="submit">View Order</button>
            </form>
        {% endfor %}
    </div>
{% endblock %}