{% extends 'base.html' %}

{% load static %}

{% block extra_styles %} 
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

        
    <h1 class="profile-header">Welcome to your profile page!</h1>

    <h3>Update Profile Information</h3>
    {% for info in profile_info %}
        {% if messages %}
            {% for message in messages %}
                {% if "user" in message.tags %}
                    <li class="message">{{ message }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form class="infoForm" action="{% url 'update_user' profile_id=info.user.id %}" method="post">
            {% csrf_token %}
            {% if errors.userName %}
                <p class="errorCurrent">{{ errors.userName }}</p>
            {% endif %}
            <input class="username" name="username" type="text" value="{{ request.POST.username|default:info.user.username }}" data-id="{{ info.user.id }}">
            {% if errors.email %}
                <p class="errorNew">{{ errors.email }}</p>
            {% endif %}
            <input class="email" name="email" type="email" value="{{ request.POST.email|default:info.user.email }}">
            <button type="submit">Submit</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                {% if "password" in message.tags %}
                    <li class="message">{{ message }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form id="passwordForm" action="{% url 'update_password' profile_id=info.user.id %}" method="post">
            {% csrf_token %}
            {% if errors.currentPassword %}
                <p class="errorCurrent">{{ errors.currentPassword }}</p>
            {% endif %}
            <input class="current_password" name="current_password" type="password" placeholder="enter current password" value="{{request.POST.current_password|default:''}}">
            {% if errors.newPassword %}
                <p class="errorNew">{{ errors.newPassword }}</p>
            {% endif %}
            <input class="new_password" name="new_password" type="password" placeholder="enter new password" value="{{request.POST.new_password|default:''}}">
            <button id="passwordButton" type="submit">Submit</button>
        </form>
    {% endfor %}
    <h3>Orders Created</h3>
    <div class="products-div">
        {% for product in profile_products %}
            <img src="{{product.image.url}}">
            <p><a href="{% url 'product' product_id=product.id %}">{{ product.name }}</a></p>
            <p>{{  product.price }}</p>
            <p>{{ product.category }}</p>
        {% endfor %}
    </div>

{% endblock %}