{% extends 'base.html' %}


{% block content %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('submit', function(event){
            if (event.target.classList.contains('delete-form')) {
                    event.preventDefault();
                    
                    const form = event.target;
                    const productName = form.closest('#cartRight').querySelector('.product-name');

                    if (!productName) {
                        console.error('product name element not found');
                        return;
                    }

                    const productID = productName.getAttribute('data-id');
                    const productSize = productName.getAttribute('data-size');
                    const productPriceElement = document.getElementById(`product-price${productID}`);
                    const cartPriceElement = document.getElementById('cartPrice');
                    const subTotalElement = document.getElementById('subTotal');
                    const cart_count = document.querySelector('.cartCount');
                    const top_count = document.querySelector('.cart-count');
                    const cartBadge = document.querySelector('#cartBadge');
                    const cartItem = document.querySelector(`#cartRow${productID}-${productSize}`);

                    const indexUrl = "{% url 'index' %}";

                    const deleteUrl = "{% url 'delete_item' product_id=0 %}".replace('0', productID);
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
                    if (!csrfToken) {
                        console.error('CSRF token not found');
                        return;
                    }

                    fetch(deleteUrl, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken.value,
                            'Content-Type': 'application/json' 
                        },
                        body: JSON.stringify ({
                            size: productSize
                        })
                    })
                    .then (response => response.json())
                    .then(data => {
                        if (data.status === "success"){
                            console.log(data.message);
                            console.log(cartItem);
                            console.log(productID, productSize);

                            cartPriceElement.textContent = `$${data.cart_total}`;
                            subTotalElement.textContent = `$${data.cart_total}`;

                            if (cartItem) {
                                const cartContainer = form.closest('.cart_container')
                                if (cartContainer) {
                                    cartContainer.remove();
                                }
                            }

                            if (cart_count) {
                                cart_count.innerHTML = `<p class='cartCount'>${data.cart_count} item${data.cart_count !== 1 ? 's': ''}</p>`;
                            }

                            if (top_count) {
                                top_count.textContent = `${data.cart_count}`;
                            }

                            let remainingContainer = document.querySelectorAll('.cart_container');
                            if (remainingContainer.length === 0) {
                                top_count.style.display = 'none';
                                cart_count.style.display = 'none';
                                cartBadge.style.display = 'none';
                                document.querySelector('.whole-container').style.display = 'none';

                                let noCart = document.querySelector('.noCart');
                                let continueButton = document.querySelector('.continue');
                                if (!noCart) {
                                    noCart = document.createElement('div');
                                    noCart.className = 'noCart';
                                    noCart.innerHTML = '<p class="no-items">There are no items in your cart.</p>';
                                    continueButton = document.createElement('button');
                                    continueButton.className = 'continue';
                                    continueButton.id = 'continueButton';
                                    continueButton.innerHTML = 'Continue Shopping';
                                    continueButton.onclick = function() {
                                        window.location.href = indexUrl;
                                    };
                                    noCart.appendChild(continueButton);

                                    document.body.appendChild(noCart);

                                } else {
                                    noCart.style.display = 'block';
                                    if (continueButton) {
                                        continueButton.style.display = 'block';
                                    }
                                }
                            }

                            if (remainingContainer.length === 1) {
                                const last_container = remainingContainer[0];
                                if (last_container){
                                    last_container.classList.add('centered');
                                    console.log('1 row left');
                                }
                            }
                            
                        } else {
                            console.error('Failed to delete item')
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    })
</script>
<div class="header-container">
    <h1>My Cart</h1>
</div>
{% if cart_items %}
<div class="whole-container">
        <div class="cartColumn">
            {% for items in cart_items %}
                <div class="cart_container"{% if cart_count == 1 %}style="display: flex;"{% endif%}>
                    <div id="cartRow{{items.product.id}}-{{items.size}}" class="row align-items-center">
                        <div class="col-5">
                                {% if items.product.created_by %}
                                    <img id="checkout-image" class="cart-image" src="{{ items.product.image.url }}">
                                {% else %}
                                    <img id="checkout-image" class="cart-image" src="{{ items.product.image }}">
                                {% endif %}
                        </div>
                        <div id="cartRight" class="col-7">
                                <p id="product-price{{items.product.id}}" class="bold">${{  items.product.price }}</p>
                                <p class="product-name" data-id="{{items.product.id}}" data-size="{{items.size}}">{{ items.product.name }}</p>
                                <div class="cart-info">
                                    <div class="left-side">
                                        <p class="size">{{ items.size }}</p>
                                        <p>QTY: {{ items.quantity }}</p>
                                    </div>
                                    <div class="right-side">
                                        <form class="delete-form" action="{% url 'delete_item' product_id=items.product.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="deleteButton"><i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <div class="total-container">
        <div class="inner-container">
            <p class="cartCount">{{cart_count}} item{% if cart_count > 1 %}s{% endif %}</p>
            <div class="spaceBetween">
                <p id="cart-header" class="bold">Total</p>
                <p id="cartPrice" class="bold">${{ cart_total }}</p>

            </div>
        </div>
        <div id="totalContainer">
            <div class="inner-container" id="bottom-inner">
                <div class="spaceBetween">
                    <div><b>Sub-total</b></div>
                    <div id="subTotal">${{ cart_total }}</div>
                </div>
                <div class="spaceBetween">
                    <div><b>Delivery</b></div>
                    <div>Standard (Free)</div>
                </div>
            </div>
        </div>
        <form action="{% url 'cart'%}" method="post">
            {% csrf_token %}
            <button class="checkout_button" type="submit">Checkout</button>
        </form>
    </div>
</div>
{% else %}  
    <div class="noCart">
        <p class="no-items">There are no items in your cart.</p>
        <button type="button" onclick="window.location.href='{% url 'index' %}'" id="continueButton" class="continue">Continue Shopping</button>
    </div>
{% endif %}

{% endblock %}