{% extends 'base.html' %}

{% block content %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
{% endblock %}

<div class="checkout-container">
        <div class="summary-container">
            <div class="orderHeader">
                <h2 class="order-header">Order Summary</h2>
                <span class="header-count">({{cart_items|length}} item{% if cart_items|length > 1 %}s{% endif %})</span>
            </div>
            <div class="checkout-holder">
                {% for items in cart_items %}
                        <div id="checkout-cart">
                            <div id="cart-row" class="row align-items-center mb-3">
                                <div class="col-5">
                                        {% if items.product.created_by %}
                                            <img id="checkout-image" class="cart-image" src="{{ items.product.image.url }}">
                                        {% else %}
                                            <img id="checkout-image" class="cart-image" src="{{ items.product.image }}">
                                        {% endif %}
                                </div>
                                <div class="col-7">
                                        <p class="bold">${{  items.product.price }}</p>
                                        <p>{{ items.product.name }}</p>
                                        <span class="size">{{ items.size }}</span>
                                        <span>QTY: {{ items.quantity }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
                <div class="cart-data">
                    <div class="spaceBetween">
                        <span>{{ cart_items|length }} items</span>
                        <span>${{ cart_total }}</span>
                    </div>
                </div>
                <div id="middle-total" class="cart-total">
                    <div class="spaceBetween">
                        <span>Subtotal</span>
                        <span>${{ cart_total }}</span>
                    </div>
                    <div class="spaceBetween">
                        <span>Shipping</span>
                        <span>Free</span>
                    </div>
                    <div class="spaceBetween">
                        <span>Sales tax</span>
                        <span>$0</span>
                    </div>
                    <div class="spaceBetween">
                        <span class="bold">Total:</span>
                        <span class="bold">${{ cart_total }}</span>
                    </div>
                </div>
        </div>
        <div class="form-container">
            <form action="{% url 'checkout' %}" method="post">
                <h2 class="order-header">Shipping and Billing Info</h2>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <span class="graytext">{{ field.label }}</span>
                        <div class="orderField">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <span class="error">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="bottom-total" class="cart-total">
                    <div class="spaceBetween">
                        <span>Subtotal</span>
                        <span>${{ cart_total }}</span>
                    </div>
                    <div class="spaceBetween">
                        <span>Shipping</span>
                        <span>Free</span>
                    </div>
                    <div class="spaceBetween">
                        <span>Sales tax</span>
                        <span>$0</span>
                    </div>
                    <div class="spaceBetween">
                        <span class="bold">Total:</span>
                        <span class="bold">${{ cart_total }}</span>
                    </div>
                </div>
                <div class="checkout-button">
                    <button class="checkout_button" type="submit">Place order</button>
                </div>
            </form>
        </div>
</div>
{% endblock %}