{% extends 'base.html' %}


{% block content %}
<h1 class="order-header">Order Summary</h1>
{% for items in cart_items %}
    {% if items.product.created_by %}
        <img src="{{ items.product.image.url }}">
    {% else %}
        <img src="{{ items.product.image }}">
    {% endif %}
    <p>{{ items.product.name }}</p>
    <p>{{  items.product.price }}</p>
    <p>{{ items.size }}</p>
    <p>{{ items.quantity }}</p>
{% endfor %}

<p>{{ cart_total }}</p>

<form action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Place order</button>
</form>
{% endblock %}