{% extends 'profile_base.html' %}


{% block settings_content %}

<div id="tabContainer" class="tab-container">
    <div id="column-detail">
        <h5>Order Details</h5>
        <span class="tab-info">Thank you for your order! Check out the details below.</span>
    </div>
</div>

<div id="tabContainer" class="tab-container">
    <div class="orderDetail">
        <div class="left-detail">
            <i id="order-icon" class="fa-solid fa-box" style="color: gray;"></i>
            <span class="graytext">Order number:</span>
        </div>
        <div class="right-detail">
            <span class="graytext">{{ order_details.id }}</span>
        </div>
    </div>
    <div class="orderDetail">
        <div class="left-detail">
            <i id="order-icon" class="fa-solid fa-calendar" style="color: gray;"></i>
            <span class="graytext">Order date:</span> 
        </div>
        <div class="right-detail">
            <span class="graytext">{{ order_details.purchase_date }}</span>
        </div>
    </div>
</div>

<div id="tabContainer" class="tab-container">
    <div id="padDetail">
         <h6 class="tabHeader">Delivery Address:</h6>
    </div>
    <div id="padDetail" class="delivery-details">
        <span>{{ order_details.first_name }} {{ order_details.last_name }}</span>
        <span>{{ order_details.address }}</span> 
        <span>{{ order_details.city }}, {{ order_details.state }} {{ order_details.zip_code }}</span>
    </div>
</div>
<div id="product-container" class="tab-container">
    <div class="orderSection">
        <div id="top-details" class="orderDetails">
            <span class="graytext">Order Status:</span>
            <span><b>WE'VE SENT IT!</b></span>
            <small>Estimated delivery 3-5 business days</small>
        </div>
        <div class="row">
            {% for cart_item in order_details.cart_item.all %}
            <div class="col-6 col-sm-4">
                <div class="image-box">
                    {% if cart_item.product.created_by %}
                        <img class="product_image" src="{{cart_item.product.image.url}}">
                    {% else %}
                        <img class="product_image" src="{{cart_item.product.image }}">
                    {% endif %}
                </div>
                <div class="product_info">
                    <div class="product_name">
                        <span>{{ cart_item.product.name}}</span>
                    </div>
                    <span>{{ cart_item.size}}</span>
                    <span>QTY: {{ cart_item.quantity}}</span>
                    <span><b>${{ cart_item.product.price}}</b></span>   
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="tabContainer" class="tab-container">
    <div id="padDetail">
        <h6>Payment Details</h6>
    </div>
    <div id="padDetail" class="delivery-details">
        <p>Card ending in {{ order_details.card_number }}</p>
    </div>
</div>

<div id="tabContainer" class="tab-container">
    <div id="padDetail">
        <h6>Order Total</h6>
    </div>
    <div id="padDetail" class="delivery-details">
        <div class="spaced-between">
            <span><b>TOTAL:</b></span>
            <span><b>${{ order_details.total_price }}</b></span>
        </div>
    </div>
</div>
{% endblock %}