{% extends 'base.html' %}


{% block content %}

{% load static %}

{% block extra_styles %} 
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}

<div class="container-fluid">
    <h1 class="tab-header">Order Details</h1>
    <p>ORDER NO: {{ order_details.id }}</p>
    <p>ORDER DATE:{{ order_details.purchase_date }}</p>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shipping</h5>
          <h6 class="card-subtitle mb-2 text-muted">Shipping Information</h6>
          <p class="card-text">{{ order_details.first_name }} {{ order_details.last_name }}</p>
          <p class="card-text">{{ order_details.address }} {{ order_details.city }}, {{ order_details.state }} {{ order_details.zip_code }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment</h5>
          <h6 class="card-subtitle mb-2 text-muted">Payment Method</h6>
          <p class="card-text">Card ending in {{ order_details.card_number }}</p>
        </div>
    </div>
    {% for cart_item in order_details.cart_item.all %}
        <div class="row align-order-center mb-3">
            <div class="col-5">
                {% if cart_item.product.created_by %}
                    <img class="cartImage" src="{{ cart_item.product.image.url }}">
                {% else %}
                    <img class="cartImage" src="{{ cart_item.product.image }}">
                {% endif %}
            </div>
            <div class="col-7">
                <p class="bold">${{  cart_item.product.price }}</p>
                <p>{{ cart_item.product.name }}</p>
                <div class="cart-info">
                    <p class="size">{{ cart_item.size }}</p>
                    <p>QTY: {{ cart_item.quantity }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="right-align">
        <p><b>Total: ${{ order_details.total_price }}</b></p>
    </div>
</div>
{% endblock %}