{% extends 'base.html' %}


{% block content %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
{% endblock %}
<div class="container-fluid">
    <div class="receipt_message">
        <i class="fa-solid fa-circle-check" style="color: #000000;"></i>
        <p class="placed-message">Your Order has been placed</p>
    </div>
    <div class="row">
        {% for items in purchase.cart_item.all %}
            <div id="cart-row" class="row align-items-center mb-3">
                <div class="col-5">
                        {% if items.product.created_by %}
                            <img class="cart-image" src="{{ items.product.image.url }}">
                        {% else %}
                            <img class="cart-image" src="{{ items.product.image }}">
                        {% endif %}
                </div>
                <div class="col-7">
                        <p class="bold">${{  items.product.price }}</p>
                        <p>{{ items.product.name }}</p>
                        <div class="cart-info">
                            <p class="size">{{ items.size }}</p>
                            <p>QTY: {{ items.quantity }}</p>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shipping</h5>
          <h6 class="card-subtitle mb-2 text-muted">Shipping Information</h6>
          <p class="card-text">{{ first_name }} {{ last_name }}</p>
          <p class="card-text">{{ address }} {{ city }}, {{ state }} {{ zip_code }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment</h5>
          <h6 class="card-subtitle mb-2 text-muted">Payment Method</h6>
          <p class="card-text">Card ending in {{ card_number }}</p>
        </div>
    </div>
    <div class="receipt-total">
        <p class="bold">Total: ${{ purchase.total_price }}</p>
    </div>
    <div class="continue_button">
        <button type="button" onclick="window.location.href='{% url 'index' %}'" class="continue">
            Continue Shopping 
        </button>
    </div>
</p>
{% endblock %}