{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'products/styles.css' %}">
{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let cartTotal = document.querySelector('.cart-total');
        const productID = document.getElementById('product_name').getAttribute('data-id');

        document.getElementById('size-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission

            var sizeChoice = document.getElementById('size').value;  // Get the selected size
            var formData = new FormData();
            formData.append('size', sizeChoice);
            console.log(sizeChoice);

            // Create the AJAX request
            fetch(`/product/add/${productID}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())  // Parse the JSON response
            .then(data => {
                const sizeInput = document.querySelector('#size');
                sizeInput.value = '';
                let message = document.getElementById('cart-message');
                let error = document.getElementById('cart-error');
                if(data.status === "success"){
                    if (error) {
                        error.style.display = "none";
                    }
                    message.textContent = data.message;
                    message.style.display = 'block';
                    
                    setTimeout(() => {
                        message.style.opacity = '1';
                    }, 100);

                    setTimeout(() => {
                        message.style.opacity = '0';
                        setTimeout(() => {
                            message.style.display = 'none';
                        }, 500);
                    }, 1000);

                    let cartCounter = document.querySelector('.cart-count');
                    let cartBadge = document.getElementById('cartBadge');
                    let cart_dropdown = document.getElementById('cartDropdown');

                    if (cartCounter) {
                        if (!cartBadge) {
                            cartBadge = document.createElement('span');
                            cartBadge.id = 'cartBadge';
                            cartBadge.className = 'position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success';
                        }
                        cartCounter.textContent = `${data.cart_item.cart_count}`
                        cartBadge.style.display = 'inline-block';
                        cartCounter.style.display = 'inline-block';
                        cartBadge.appendChild(cartCounter);
                        cart_dropdown.appendChild(cartBadge);
                    }

                    let cartPriceElement = document.getElementById('cart-price');
                    if (cartPriceElement) {
                        cartPriceElement.textContent = `Total: $${data.cart_item.cart_total}`;
                    }

                    let cartTitle = document.querySelector('.cart-title');
                    cartTitle.innerHTML = `<p class="cart-title"><span class="bold">My Cart,</span> ${data.cart_item.cart_count} item${data.cart_item.cart_count !== 1 ? 's': ''}</p>`

                    let noCart = document.querySelector('.no-cart');
                    if (noCart){
                        noCart.style.display = 'none';
                    }

                    let cartDropdown = document.getElementById('cart-dropdown');

                    let cartContent = document.querySelector('.cart-content');
                    if(!cartContent) {
                        cartContent = document.createElement('div');
                        cartContent.className = 'cart-content';
                        document.getElementById('cart-dropdown').appendChild(cartContent);
                    } else {
                        cartContent.style.display = 'block';
                    }
                    
                    let cartRow = document.getElementById(`cart-row${productID}-${sizeChoice}`);
                    if (cartRow){
                        let quantity = cartRow.querySelector(`.quantity${productID}-${sizeChoice}`);
                        if (quantity) { 
                            let newQuantity = `QTY: ${data.cart_item.quantity}`;
                            if (quantity.textContent !== newQuantity) {
                                quantity.textContent = newQuantity;
                            }
                        } else {
                            console.error("quantity element not found");
                        }
                    } else {
                        cartRow = document.createElement('div');
                        cartRow.classList.add('row', 'align-items-center');
                        cartRow.id = `cart-row${productID}-${sizeChoice}`;
                    

                        const deleteUrl = "{% url 'delete_item' product_id=0 %}".replace('0', productID);
                        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;

                        let imageUrl = data.cart_item.product.image;

                        if (imageUrl.includes("fakestoreapi")) {
                            imageUrl = imageUrl.replace("/media/https%3A", "https://");
                        }

                        imageUrl = decodeURI(imageUrl);
                        console.log(imageUrl);

                        cartRow.innerHTML = `<div class="col-6">
                                                    <div class="cart-container">
                                                        <a href="/product/${data.cart_item.product.id}">
                                                            <div class="cart-box">
                                                                <img class="cart-image" src=${imageUrl}>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="cart-right" class="col-6">
                                                        <p id="product-price${data.cart_item.product.id}" class="bold">$${data.cart_item.product.price}</p>
                                                        <a style="text-decoration: none;" href="/product/${data.cart_item.product.id}">
                                                            <p class="product_name" data-id="${data.cart_item.product.id}" data-size="${data.cart_item.size}">${data.cart_item.product.name}</p>
                                                        </a>
                                                        <div class="cart-info">
                                                            <div id="cartInfo">
                                                                <p class="size">${data.cart_item.size}</p>
                                                                <p class="quantity${productID}-${sizeChoice}">QTY: ${data.cart_item.quantity}</p>
                                                            </div>
                                                        </div>
                                                        <div class="deleteDiv">
                                                            <form class="delete-form" action=${deleteUrl} method="post">
                                                                <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
                                                                <button class="deleteButton"><i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
                                                            </form>
                                                        </div>
                                                </div>`
                    }
                    cartContent.prepend(cartRow);                   
                    
                    let cartBottom = document.getElementById('cart-bottom');
                    if (!cartBottom) {
                        cartBottom = document.createElement('div');
                        cartBottom.id = 'cart-bottom';
                        cartBottom.className = 'row';
                        cartBottom.innerHTML = `<div class="cart-total">
                                        <div class="cartBanner">
                                            <p id="cart-price" class="bold">Total: $${data.cart_item.cart_total}</p>
                                        </div>
                                        <div class="cart-buttons">
                                            <a id="cart-button" class="cartButton" href="{% url 'cart' %}">VIEW CART</a>
                                            <form action="{% url 'cart'%}" method="post">
                                                {% csrf_token %}
                                                <button id="cart-button" class="submit_button" type="submit">CHECKOUT</button>
                                            </form>
                                        </div>
                                    </div>`
                        cartDropdown.appendChild(cartBottom);
                    } else {
                        cartBottom.style.display = 'block';
                    }

                    if(cartTotal) {
                        cartTotal.style.display = 'block';
                    }

                } else {
                    if (message) {
                        message.style.visibility = "none";
                    }
                    error.textContent = data.message;
                    error.style.display = "block";
                    error.style.color = "red";
                }
            })
            .catch(error => console.error('Error:', error));
        });

        
        const watchForm = document.querySelector('.watchlist-form');
        if (watchForm) {
            watchForm.addEventListener('submit', function(event){
                event.preventDefault();

                const watch_button = watchForm.querySelector('#watch_button');
                const watched_button = watchForm.querySelector('#watched_button');
                
                let currentStatus = watchForm.getAttribute("data-watch");

                let newStatus = currentStatus === "watch" ? "watched": "watch";

                fetch(`/${productID}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: JSON.stringify({ status: newStatus }),
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data.message);

                    //update ui based on response status
                    if(data.status === "watched"){
                        watch_button.style.display = "none";
                        watched_button.style.display = "block";
                
                    } else {
                        watch_button.style.display = "block";
                        watched_button.style.display = "none";
                    }

                    watchForm.setAttribute("data-watch", data.status);
                })
                .catch((error) => console.error("Error:", error));
            });
        };
    });    
    function sizeSelect(event, size) {
        const sizeInput = document.querySelector('#size');
        sizeInput.value = size;
    }
</script>
    <div class="product_view">
        <div class="left-space"></div>
        <div class="image-display">
            {% for product in product_details %}
            <div class="product-box">
                {% if product.created_by %}
                    <img class="product_display" src="{{ product.image.url }}">
                {% else %}
                    <img class="product_display"  src="{{ product.image }}">
                {% endif %}
            </div>
        </div>
        <div class="product-info">
            <p id="product_name" data-id="{{product.id}}">{{ product.name }}</p>
            <p id="product_price" class="bold">${{  product.price }}</p>
            {% if request.user.is_authenticated %}
            <p id="product_size" class="bold">SIZE:</p>
            <div id="cart-message" class="fade-box"></div>
            <p id="cart-error" style="display: none;"></p>
            <div class="product_buttons">
                <div clas="row mb-2">
                    <div class="col-12 mb-2">
                        <form id="size-form" method="post">
                            {% csrf_token %}
                            <select name="category" class="dropdown-size" id="size" onclick="sizeSelect(event, this.value)">
                                <option value="" disabled selected>Please select</option>
                                <option name="size"  value="XS">XS</option>
                                <option name="size"  value="S">S</option>
                                <option name="size"  value="M">M</option>
                                <option name="size"  value="L">L</option>
                                <option name="size"  value="XL">XL</option>
                                <option name="size"  value="XXL">XXL</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="product-button-row">
                    {% if product.created_by == request.user.profile %}
                        <div class="flex">
                            <i id="info-icon" class="fa-solid fa-circle-info" style="color: #000000;"></i>
                            <small class="info-message">Users can't purchase their own products</small>
                        </div>
                    {% else %}
                        <button id="cart_button" class="product-btn" type="submit" form="size-form">Add to Cart</button>
                    {% endif %}
                    {% if product.created_by != user.profile %}
                        <form class="watchlist-form" action="{% url 'toggle_watch' product_id=product.id %}" method="post" data-watch="{% if product.id in user_watchlist %}watched{% else %}watch{% endif %}">
                            {% csrf_token %}
                            {% if product.id in user_watchlist %}
                                <button class="watch-btn" id="watch_button" style="display: none;">
                                    <i class="fa-regular fa-star" style="color: #000000;"></i>
                                </button>
                                <button class="watch-btn" id="watched_button" >
                                    <i class="fa-solid fa-star" style="color: #000000;"></i>
                                </button>
                            {% else %}
                                <button class="watch-btn" id="watch_button" >
                                    <i class="fa-regular fa-star" style="color: #000000;"></i>
                                </button>
                                <button class="watch-btn" id="watched_button" style="display: none;">
                                    <i class="fa-solid fa-star" style="color: #000000;"></i>
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}