{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'products/styles.css' %}">
{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('size-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission

            var sizeChoice = document.getElementById('size').value;  // Get the selected size
            var formData = new FormData();
            formData.append('size', sizeChoice);

            const productID = document.querySelector('#product_name').getAttribute('data-id');

            // Create the AJAX request
            fetch(`/product/${productID}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())  // Parse the JSON response
            .then(data => {
                // Update the <p> tag with the response message
                let message = document.getElementById('cart-message')
                message.textContent = data.message;
                message.style.display = 'block';
                message.style.color = data.status === "success" ? "green" : "red";
                console.log(productID);
            })
            .catch(error => console.error('Error:', error));
        });
    });
    
    function sizeSelect(size){
            const sizeInput = document.querySelector('#size');
            sizeInput.value = size;
            console.log(sizeInput.value)

            const button = document.querySelectorAll('.size-button');
            button.forEach(btn => {
                btn.classList.remove('active');
            });
            event.target.classList.add('active');
    }
</script>
<div class="container-fluid">
    <div class="product_view">
        <div class="image-display">
            {% for product in product_details %}
                {% if product.created_by %}
                    <img class="product_display" src="{{ product.image.url }}">
                {% else %}
                    <img class="product_display"  src="{{ product.image }}">
                {% endif %}
        </div>
        <div class="product-info">
            <p id="product_name" data-id="{{product.id}}">{{ product.name }}</p>
            <p id="product_price" class="bold">${{  product.price }}</p>
            <p id="product_size" class="bold">SIZE:</p>
            <div class="size-picker">
                <div class="row">
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('XS', event)" class="size-button" id="sizes">XS</button>
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('S', event)" class="size-button" id="sizes">S</button>
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('M', event)" class="size-button" id="sizes">M</button>
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('L', event)" class="size-button" id="sizes">L</button>
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('XL', event)" class="size-button" id="sizes">XL</button>
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="sizeSelect('XXL', event)" class="size-button" id="sizes">XXL</button>
                    </div>
                </div>
            </div>
            <p id="cart-message" style="display: none;"></p>
            <div class="product_buttons">
                <div class="col-10">
                    <form id="size-form" method="post">
                        {% csrf_token %}
                        <input name="size" id="size" type="hidden">
                        {% if product.created_by == request.user.profile %}
                            <small>Users can't purchase their own products</small>
                        {% else %}
                            <button id="cart_button" class="product-btn" type="submit">Add to Cart</button>
                        {% endif %}
                    </form>
                </div>
                <div id="watch-btn" class="col-2">
                    {% if product.created_by != user.profile %}
                        <form action="{% url 'toggle_watch' product_id=product.id %}" method="post">
                            {% csrf_token %}
                            <button id="watchlist_button" class="product-btn"><i class="fa-solid fa-eye"></i></button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}