{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="welcome">{{ user }}'s Watchlist</h1>
    <div class="products-div">
        {% for item in watchlist_items %}
            {% if item.product.created_by %}
                <img src="{{item.product.image.url}}">
            {% else %}
                <img src="{{item.product.image }}">
            {% endif %}
            <p><a href="{% url 'product' product_id=item.product.id %}">{{ item.product.name }}</a></p>
            <p>{{  item.product.price }}</p>
            <p>{{ item.product.category }}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}