{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
    <h1 class="header">Login</h1>

    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        {% if errors.invalid_credentials %}
            <p class="error">{{ errors.invalid_credentials }}</p>
        {% endif %}
        {% if errors.username %}
            <p class="error">{{ errors.username }}</p>
        {% endif %}
        <input class="form-input {% if errors.username or errors.invalid_credentials %}error-input{% endif %}" type="text" name="username" value="{{request.POST.username|default:''}}">
        {% if errors.password %}
            <p class="error">{{ errors.password }}</p>
        {% endif %}
        <input class="form-input {% if errors.password or errors.invalid_credentials %}error-input{% endif %}" type="password" name="password">
        <button type="submit">Login</button>
    </form>
    <p>New here? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}
