{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
    <h1 class="header">Register</h1>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% if errors.username %}
            <p class="error">{{ errors.username }}</p>
        {% endif %}
        <input class="form-input {% if errors.username %}error-input{% endif %}" placeholder="enter username" type="text" name="username" value="{{request.POST.username|default:''}}">
        {% if errors.email %}
            <p class="error">{{ errors.email }}</p>
        {% endif %}
        <input class="form-input {% if errors.email %}error-input{% endif %}" placeholder="enter email" type="email" name="email" value="{{request.POST.email|default:''}}">
        {% if errors.password %}
            <p class="error">{{ errors.password }}</p>
        {% endif %}
        <input class="form-input {% if errors.password %}error-input{% endif %}" placeholder="enter password" type="password" name="password" value="{{request.POST.password|default:''}}">
        {% if errors.confirmation %}
            <p class="error">{{ errors.confirmation }}</p>
        {% endif %}
        <input class="form-input {% if errors.confirmation %}error-input{% endif %}" placeholder="confirm password" type="password" name="confirmation" value="{{request.POST.confirmation|default:''}}">

        <button type="submit">Register</button>
    </form>
    <p>Already a user? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}