{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <button class="home-button"><a href="{% url 'index' %}"><i class="fa-solid fa-house" style="color: #000000;"></i></a></button>
    <div class="form-container">
        <h1 class="header">Register</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% if errors.username %}
                <p class="error">{{ errors.username }}</p>
            {% endif %}
            <div class="input-container">
                <i class="fa-solid fa-user" id="form-icon" style="color: #e6e6e6;"></i>
                <input class="form-control {% if errors.username %}error-input{% endif %}" placeholder="enter username" type="text" name="username" value="{{request.POST.username|default:''}}">
            </div>
            {% if errors.email %}
                <p class="error">{{ errors.email }}</p>
            {% endif %}
            <div class="input-container">
                <i class="fa-solid fa-envelope" id="form-icon" style="color: #e6e6e6;"></i>
                <input class="form-control {% if errors.email %}error-input{% endif %}" placeholder="enter email" type="email" name="email" value="{{request.POST.email|default:''}}">
            </div>
            {% if errors.password %}
                <p class="error">{{ errors.password }}</p>
            {% endif %}
            <div class="input-container">
                <i class="fa-solid fa-lock" id="form-icon" style="color: #e6e6e6;"></i>
                <input class="form-control {% if errors.password %}error-input{% endif %}" placeholder="enter password" type="password" name="password" value="{{request.POST.password|default:''}}">
            </div>
            {% if errors.confirmation %}
                <p class="error">{{ errors.confirmation }}</p>
            {% endif %}
            <div class="input-container">
                <i class="fa-solid fa-lock" id="form-icon" style="color: #e6e6e6;"></i>
                <input class="form-control {% if errors.confirmation %}error-input{% endif %}" placeholder="confirm password" type="password" name="confirmation" value="{{request.POST.confirmation|default:''}}">
            </div>
            <div class="right-align">
                <button class="form-button" type="submit">Register</button>
            </div>
        </form>
        <div class="center-align">
            <p>Already a user? <a class="redirect-link" href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock %}