
body{
    background: #f8f8f8;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.tab-header {
    text-align: center;
}

.right-align, .center-align {
    width: 100%;
    padding: 10px 5px;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.cart-image {
    width: 130px;
    height: 130px;
    object-position: center;
}

.graytext {
    font-size: 16px;
    color: gray;
}

.cartImage {
    width: 100%; 
    height: 100%;
    aspect-ratio: 4 / 5; 
    object-fit: cover; 
    object-position: center;
    border-radius: 6px; 
    
}


#individual-order {
    border-bottom: 1px solid lightgray;
}

.order-row {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

#profileForm {
    padding: 10px;
}

.product_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 250px;
}

.image-box {
    width: 100%;
    height: 250px; 
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    padding: 10px;
}

#preview-container, #preview-box {
    height: 130px;
}

#image-holder {
    padding: 40px 5px;
}

.name_box {
    max-width: 100%;
    padding: 10px 0px;
}

.product_name, #product_price {
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: block;
}

.product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.home-button {
    background-color: white;
    border-radius: 100%;
    border: 1px solid lightgray;
}

.alert {
    max-width: 800px;
    height: 60px;
    align-items: center;
    text-align: center;
}
.form-container {
    min-width: 320px;
    max-width: 700px;
    justify-self: center;
    padding: 20px;
}

.error {
    font-size: 12px;
    color: red;
}

.error-input {
    border-bottom: red;
}

.input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin: 20px 0px;
}

.fa-user {
    font-size: 18px;
}
.form-control {
    background: #f8f8f8;
    border: none;
}

.form-control:focus {
    background: #f8f8f8;
    box-shadow: none;
}

.form-button {
    background-color: black;
    width: 100px;
    color: white;
    border-radius: 15px;
}

.redirect-link {
    color: blue;
    text-decoration: none;
}

#order-section {
    padding: 20px 0px;
}

.order-details, .delivery-details {
    display: flex;
    flex-direction: column;
}
.my-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-info {
    display: flex;
    align-content: center;
}

.order-content {
    padding: 5px;
    height: 100%;
    align-content: center;
}

#orderIcon {
    font-size: 26px;
}

#previewIcon {
    font-size: 22px;
    margin-right: 10px;
}