body{
    background: #f8f8f8;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product_view {
    display: flex;
    flex-direction: column;
}
.product_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 250px;
}

.image-box {
    width: 100%;
    height: 250px; 
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    padding: 10px;
}

.watchlist-btn, .remove-btn {
    position: absolute;
    border: none;
}

.watchlist-btn, .watch-btn {
    border-radius:100%;
    background: white;
}

.watchlist-btn {
    bottom: 10px;
    right: 5px;
}

.watch-btn {
    border: 1px solid lightgray;
}

.remove-btn {
    top: 10px;
    right: 5px;
    background: none;
    font-size: 20px;
}


#watched_button, #watch_button {
    font-size: 20px;
}

.name_box {
    max-width: 100%;
    padding: 10px 0px;
}
.product_name, #product_price {
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: block;
}


.product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.creation-form{
    width: 100%;
    justify-self: center;
    padding: 15px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit_div {
    text-align: right;
}

.submitButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.product_display {
    max-width: 100%;
}


#product_size {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}
.size-picker {
    margin-bottom: 15px;
    width: 100%;
}
.size-button {
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 10px;
    width: 100%;

}

.size-button.active {
    background-color: black;
    color: white;
    border: solid 1px white;
}


.product_buttons {
    width: 100%;
    display: flex;
}

.product-btn {
    width: 100%;
    padding: 5px;
}

.fade-box {
    position: fixed;
    display: none;
    top: 50%;
    left: 40%;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

#cart_button {
    background-color: #018849;
    color: white;
    border: none;
}

#watch-btn {
    display: flex;
    justify-content: flex-end;
}

#watchlist_button {
    background-color:whitesmoke;
    border-radius: 100%;
    border: 1px solid gray;
    min-width: 40px;
}

/* Larger mobile screens (601px to 767px) */
@media (min-width: 601px) and (max-width: 720px) {
    body {
        font-size: 16px;
    }
}

/* Tablets in portrait mode (768px to 1023px) */
@media (min-width: 721px) and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
}

/* Tablets in landscape and small laptops (1024px to 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
    body {
        font-size: 20px;
    }
}

/* Laptops and small desktops (1280px to 1599px) */
@media (min-width: 1280px) and (max-width: 1599px) {
    body {
        font-size: 22px;
    }
}

/* Large desktop screens (1600px and above) */
@media (min-width: 1600px) {
    body {
        font-size: 24px;
    }
}