body{
    background: #f8f8f8;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 8px;
}

.product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 15px 0px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 125%;
}

.product_image, .image-container, .image-display {
    aspect-ratio: 4 / 5;
}

.image-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    padding: 10px;
    border: 1px solid lightgray;
    overflow: hidden;
}

#productRow {
    padding: 10px;
}

.watchlist-btn, .remove-btn {
    position: absolute;
    border: none;
}

.watchlist-btn, .watch-btn {
    border-radius:100%;
    background: white;
}

.watchlist-btn {
    bottom: 10px;
    right: 5px;
}

.watch-btn {
    border: 1px solid lightgray;
}

.remove-btn {
    top: 10px;
    right: 5px;
    background: none;
    font-size: 20px;
}


#watched_button, #watch_button {
    font-size: 20px;
}

.name_box {
    max-width: 100%;
    padding: 10px 0px;
}
.product_name, #product_price {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
}


.product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.creation-form{
    max-width: 600px;
    justify-self: center;
    padding: 15px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#createFormGroup {
    width: 100%;
}

.submit_div {
    text-align: right;
}

.graytext {
    font-size: 16px;
    color: gray;
    padding: 0px 10px;
}

.createField{
    padding: 10px 0px;
}

.submitButton {
    background-color: black;
    width: 100px;
    color: white;
    border-radius: 15px;
}

.product_view, .image-display {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

.image-display {
    background-color: white;
    border: 1px solid lightgray;
    max-height: 570px;
}

.product_display {
    width: 100%;
    padding: 40px;
    max-height: 570px;
}


#product_size {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}
.size-picker {
    margin-bottom: 15px;
    width: 100%;
}
.size-button {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 10px;
    width: 100%;
}

.size-button.active {
    background-color: black;
    color: white;
    border: solid 1px white;
}


.product_buttons {
    width: 100%;
    display: flex;
}

.product-btn {
    width: 100%;
    padding: 5px;
}

.fade-box {
    position: fixed;
    display: none;
    top: 50%;
    left: 25%;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

#cart_button {
    background-color: #018849;
    color: white;
    border: none;
}

#watch-btn {
    display: flex;
    justify-content: flex-end;
}

#watchlist_button {
    background-color:whitesmoke;
    border-radius: 100%;
    border: 1px solid gray;
    min-width: 40px;
}

/* Larger mobile screens (601px to 767px) */
@media (min-width: 540px) and (max-width: 719px) {
    .image-display, .product-info {
        width: 550px;
        justify-self: center;
    }  

    .image-display {
        padding: 0px 10px;
        height: 570px;
    }  


    .product_display {
        background-color: white;
        padding: 60px;
        height: 570px;
    }

    .size-picker{
        width: 440px;
    }

    .product_view {
        padding: 10px;
    }
}

/* Tablets in portrait mode (720px to 1023px) */
@media (min-width: 720px) and (max-width: 959px) {
    .product_view {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
    }

    .product_display {
        padding: 10px;
        width: 70%;
        height: auto;
    }

    .image-display {
        padding: 0px 10px;
        max-width: 550px;
        position: relative;
        display: inline-block;
        height: 0;
    }  

    .product-box {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; 
        padding: 10px;
        border: 1px solid lightgray;
        overflow: hidden;
        height: 570px;
    }

    .product-info {
        max-width: 300px;
        padding: 15px 20px;
    }

    .size-button {
        width: 65px;
        text-align: center;
    }

    .fade-box {
        left: 40%;
    }
}

/* Tablets in landscape and small laptops (1024px to 1279px) */
@media (min-width: 960px) and (max-width: 1139px) {
    #product-container {
        max-width: 70%;
    }

    .product_view {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
    }

    .product_display {
        padding: 10px;
        width: 70%;
        height: auto;
    }

    .image-display {
        padding: 0px 10px;
        max-width: 550px;
        position: relative;
        display: inline-block;
        height: 0;
    }  

    .product-box {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; 
        padding: 10px;
        border: 1px solid lightgray;
        overflow: hidden;
        height: 570px;
    }

    .product-info {
        max-width: 300px;
        padding: 15px 20px;
    }

    .size-button {
        width: 65px;
        text-align: center;
    }

    .fade-box {
        left: 35%;
    }
  
}

/* Laptops and small desktops (1280px to 1599px) */
@media (min-width: 1140px) and (max-width: 1319px) {
    #product-container {
        max-width: 70%;
    }

    .product_view {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
    }

    .product_display {
        padding: 10px;
        width: 70%;
        height: auto;
    }

    .image-display {
        padding: 0px 10px;
        max-width: 550px;
        position: relative;
        display: inline-block;
        height: 0;
    }  

    .product-box {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; 
        padding: 10px;
        border: 1px solid lightgray;
        overflow: hidden;
        height: 570px;
    }

    .product-info {
        max-width: 300px;
        padding: 15px 20px;
    }

    .size-button {
        width: 65px;
        text-align: center;
    }

    .fade-box {
        left: 35%;
    }
 
}

/* Large desktop screens (1600px and above) */
@media (min-width: 1320px) {
    #product-container {
        max-width: 70%;
    }

    .product_view {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
    }

    .product_display {
        padding: 10px;
        width: 70%;
        height: auto;
    }

    .image-display {
        padding: 0px 10px;
        max-width: 550px;
        position: relative;
        display: inline-block;
        height: 0;
    }  

    .product-box {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; 
        padding: 10px;
        border: 1px solid lightgray;
        overflow: hidden;
        height: 570px;
    }

    .product-info {
        max-width: 300px;
        padding: 15px 20px;
    }

    .size-button {
        width: 65px;
        text-align: center;
    }

    .fade-box {
        left: 35%;
    }
   
}